<div class="container">

  <div class="title">
    <h1>Editar Escola</h1>
  </div>

  <div class="form">
    <h4>Nome da escola</h4>
    <span>{{school.name}}</span>
    <h4 for="endEnroll">Dono da Copa</h4>
    <span>{{school.cupManager}}</span>
    <div class="form__input">
      <label for="startEnroll">Endereço</label>
      <input type="text" [(ngModel)]="address">
    </div>
    <div class="form__input-venues">
      <label>Campo</label>
      <input type="text" [(ngModel)]="venue1">
    </div>
    <div class="form__input-venues">
      <label>Campo</label>
      <input type="text" [(ngModel)]="venue2">
    </div>
    <div class="form__input-venues">
      <label>Campo</label>
      <input type="text" [(ngModel)]="venue3">
    </div>
    <div class="form__input-venues">
      <label>Campo</label>
      <input type="text" [(ngModel)]="venue4">
    </div>
    <div class="form__input-venues">
      <label>Campo</label>
      <input type="text" [(ngModel)]="venue5">
    </div>
    <button (click)="submitData()">Salvar</button>
  </div>

</div>
