<div class="container" *ngIf="loggedIn">

  <h2>{{cup.name}}</h2>

  <div class="announcement-date">
    <h3>Data de anúncio</h3>
    <span>{{cup.announcementDate}}</span>
  </div>

  <div class="enroll-period">
    <h3>Período de inscrição</h3>
    <span>{{cup.signUpPeriod[0] | date}} --- {{cup.signUpPeriod[1] | date}}</span>
  </div>

  <div class="games-period">
    <h3>Período de jogos</h3>
    <span>{{cup.cupGamesPeriod[0] | date}} --- {{cup.cupGamesPeriod[1] | date}}</span>
  </div>

  <div class="teams-container">
    <h3>Times que participaram</h3>
    <div class="teams-container__teams">
      <div class="teams-container__teams__team" *ngFor="let team of cup.teams, let i = index">
        <h5>{{team.name}}</h5>
        <span>{{cup.teams[i].players}}</span>
      </div>
    </div>
  </div>

  <div class="matches">
    <h3>Partidas</h3>
    
    <div class="matches__match" >

      <div class="matches__match__focus">

        <div class="row" style="margin-bottom: 1rem">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button type="button" class="btn btn-success" id="dropdownBasic1" ngbDropdownToggle>{{team1}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem *ngFor="let team of cup.teams" (click)="selectTeam(team.name, 1)">{{team.name}}</button>
              </div>
            </div>
          </div>
        </div>

        <div class="matches__match__focus__score">
          <input type="number" name="score1" [(ngModel)]="score1">
        </div>
        <h1> X </h1>
        <div class="matches__match__focus__score">
          <input type="number" name="score2" [(ngModel)]="score2">
        </div>

        <div class="row" style="margin-bottom: 1rem">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button type="button" class="btn btn-success" id="dropdownBasic1" ngbDropdownToggle>{{team2}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem *ngFor="let team of cup.teams" (click)="selectTeam(team.name, 2)">{{team.name}}</button>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <button class="back-button" (click)="saveCup()">Salvar</button>

</div>

<div class="container" *ngIf="!loggedIn">
  <app-login-screen (logIn)="login($event)"></app-login-screen>
</div>
