<div class="page-container">

  <div class="cups-wrapper">
    <h1>Campeonatos Finalizados</h1>
    <div class="cups-wrapper__card" *ngFor="let cup of finishedCups">
      <mat-card>
        <h3>{{ cup.name }}</h3>
        <h4>Período de Inscrição</h4>
        <p>{{ cup.signUpPeriod[0] | date:'dd/MM/yyyy'}} -- {{ cup.signUpPeriod[1] | date:'dd/MM/yyyy'}}</p>
        <h4>Período dos jogos</h4>
        <p>{{ cup.cupGamesPeriod[0] | date:'dd/MM/yyyy'}} -- {{ cup.cupGamesPeriod[1] | date:'dd/MM/yyyy'}}</p>
        <h4>Data de Anúncio</h4>
        <p>{{ cup.announcementDate | date:'dd/MM/yyyy' }}</p>
      </mat-card>
    </div>
  </div>
  <div class="cups-wrapper">
    <h1>Campeonatos Anunciados</h1>
    <div class="cups-wrapper__card" *ngFor="let cup of announcedCups">
      <mat-card>
        <h3>{{ cup.name }}</h3>
        <h4>Período de Inscrição</h4>
        <p>{{ cup.signUpPeriod[0] | date:'dd/MM/yyyy'}} -- {{ cup.signUpPeriod[1] | date:'dd/MM/yyyy'}}</p>
        <h4>Período dos jogos</h4>
        <p>{{ cup.cupGamesPeriod[0] | date:'dd/MM/yyyy'}} -- {{ cup.cupGamesPeriod[1] | date:'dd/MM/yyyy'}}</p>
        <h4>Data de Anúncio</h4>
        <p>{{ cup.announcementDate | date:'dd/MM/yyyy' }}</p>
      </mat-card>
    </div>
  </div>
  <div class="cups-wrapper">
    <h1>Campeonatos em Andamento</h1>
    <div class="cups-wrapper__card" *ngFor="let cup of ongoingCups">
      <mat-card>
        <h3>{{ cup.name }}</h3>
        <h4>Período de Inscrição</h4>
        <p>{{ cup.signUpPeriod[0] | date:'dd/MM/yyyy'}} -- {{ cup.signUpPeriod[1] | date:'dd/MM/yyyy'}}</p>
        <h4>Período dos jogos</h4>
        <p>{{ cup.cupGamesPeriod[0] | date:'dd/MM/yyyy'}} -- {{ cup.cupGamesPeriod[1] | date:'dd/MM/yyyy'}}</p>
        <h4>Data de Anúncio</h4>
        <p>{{ cup.announcementDate | date:'dd/MM/yyyy' }}</p>
      </mat-card>
    </div>
  </div>

</div>
