<div class="choose-option">

  <div *ngIf="screen === 'default'" class="choose-option__screen">
    <div class="choose-option__screen__logo">
      <img src="../../assets/logo.png" alt="Chutesal Logo" class="choose-option__screen__logo__image">
    </div>
    <div class="choose-option__screen__options">
      <button class="choose-option__screen__options__btn" (click)="goToLogin()">Faça o Login</button>
      <button class="choose-option__screen__options__btn" (click)="goToCreateAccount()">Crie sua conta</button>
    </div>
  </div>

  <app-login-screen
  class="choose-option__screen"
  *ngIf="screen === 'login'"
  (screen)="goToDefault($event)"></app-login-screen>

  <app-create-account-screen
  class="choose-option__screen"
  *ngIf="screen === 'create-account'"
  (screen)="goToDefault($event)"></app-create-account-screen>

</div>
