.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 75rem;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  & button {
    width: 16rem;
    height: 8rem;
    border-radius: 1rem;
    border: none;
    background-color: #4caf50;
    padding: 2rem;
    color: #fcfcfc;
    font-size: 1.5rem;
    transition: 300ms ease-in-out;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

  & button:hover {
    background-color: #1b5e20 ;
    transition: 300ms ease-in-out;
  }
}

.cards {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 75rem;
  margin: 3rem;

  &__complete {

    &__cups {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 120%;

      & h1 {
        margin-bottom: .8rem;
        text-align: center;
      }

      &__cup {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #212121;
        width: 20rem;
        padding: 2rem;
        background-color: rgba(255, 255, 255, 0.952);
        border-radius: 1rem;
        transition: 200ms ease-in-out;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        margin-bottom: 2rem;

        &__card {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          & h2 {
            margin-right: 2rem;
          }

          &__info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &__enroll {
              text-align: center;
              margin-bottom: 1rem;
            }

            &__games {
              text-align: center;
              margin-bottom: 1rem;
            }

            &__more {
              cursor: pointer;
            }
          }
        }
      }


      // &__cup:hover {
      //   scale: 1.05;
      //   transition: 200ms ease-in-out;
      // }

      &__no-cup {
        display: flex;
        justify-content: center;
      }

      // &__no-cup:hover {
      //   scale: 1.05;
      //   transition: 200ms ease-in-out;
      // }

    }

  }
}


