<div class="container" *ngIf="!forgot">

  <div class="title">
    <h2>Login</h2>
  </div>

  <div class="inputs">
    <div class="inputs__input">
      <label for="login">Usuário</label>
      <input type="text" name="login" [(ngModel)]="username">
    </div>
    <div class="inputs__input">
      <label for="login">Senha</label>
      <input type="password" name="password" [(ngModel)]="password">
    </div>
    <div class="inputs__incorrect" *ngIf="incorrect">
      <h5>Usuário ou senha incorretos</h5>
    </div>
  </div>

  <div class="buttons">
    <div class="buttons__login">
      <button class="buttons__login__forgot" (click)="changeScreen('forgot')">Esqueci a senha</button>
      <button class="buttons__login__login" (click)="login()">Login</button>
    </div>
    <div class="buttons__back">
      <button class="buttons__back__btn" (click)="changeScreen('default')">Voltar</button>
    </div>
  </div>

</div>

<div class="container">
  <app-forgot *ngIf="forgot" (screen)="changeScreen($event)"></app-forgot>
</div>
