<div class="container">

  <div class="title">
    <h2>Criar conta</h2>
  </div>

  <div class="register">
    <div class="register__form">
      <div class="register__form__input">
        <label for="name">Nome</label>
        <input type="text" name="name">
      </div>
      <div class="register__form__input">
        <label for="name">Apelido</label>
        <input type="text" name="nickname">
      </div>
      <div class="register__form__input">
        <label for="name">Data de nascimento</label>
        <input type="text" name="birthdate">
      </div>
      <div class="register__form__input">
        <label for="name">Whatsapp</label>
        <input type="text" name="whatsApp">
      </div>
      <div class="register__form__input">
        <label for="name">E-Mail</label>
        <input type="email" name="email">
      </div>
      <div class="register__form__input">
        <label for="name">Senha</label>
        <input type="password" name="password">
      </div>
      <div class="register__form__input">
        <label for="name">Senha</label>
        <input type="password" name="password">
      </div>
    </div>

    <div class="buttons">
        <button class="buttons__btn" (click)="changeScreen()">Criar conta</button>
        <button class="buttons__btn" (click)="changeScreen()">voltar</button>
    </div>
  </div>

</div>
