<div class="container" *ngIf="loggedIn">

  <div class="title">
    <h1>Cadastrar Campeonato</h1>
  </div>

  <div class="form">
    <div class="form__input">
      <label for="name">Nome do Campeonato</label>
      <input type="text" name="name" [(ngModel)]="name">
    </div>
    <div class="form__input">
      <label for="startEnroll">Inicio das inscrições</label>
      <input type="date" name="startEnroll" [(ngModel)]="startEnroll">
    </div>
    <div class="form__input">
      <label for="endEnroll">Fim das inscrições</label>
      <input type="date" name="endEnroll" [(ngModel)]="endEnroll">
    </div>
    <div class="form__input">
      <label for="startGames">Inicio dos jogos</label>
      <input type="date" name="startGames" [(ngModel)]="startGames">
    </div>
    <div class="form__input">
      <label for="endGames">Fim dos jogos</label>
      <input type="date" name="endGames" [(ngModel)]="endGames">
    </div>
    <div class="form__input">
      <label for="endGames">Data de Anúncio</label>
      <input type="date" name="endGames" [(ngModel)]="announcementDate">
    </div>
    <button (click)="submitData()">Criar</button>
  </div>

</div>

<div class="container-login" *ngIf="!loggedIn">
  <app-login-screen (logIn)="login($event)"></app-login-screen>
</div>
