<div class="navigator">
  <div class="navigator__menu">

    <div class="navigator__menu__buttons">
      <div class="navigator__menu__buttons__btn">
        <span class="navigator__menu__buttons__btn__text" (click)="changePage('cups')">Campeonatos</span>
      </div>
      <div class="navigator__menu__buttons__btn">
        <span class="navigator__menu__buttons__btn__text" (click)="changePage('enter-cup')">Criar Time</span>
      </div>
      <div class="navigator__menu__buttons__btn">
        <span class="navigator__menu__buttons__btn__text" (click)="changePage('create-cup')">Criar Campeonato</span>
      </div>
      <div class="navigator__menu__buttons__btn">
        <span class="navigator__menu__buttons__btn__text" (click)="changePage('edit-school')">Editar escola</span>
      </div>
    </div>

<!-- <div class="navigator__menu__profile">
      <span class="navigator__menu__profile__name">{{profileName}}</span>
      <div class="profile-image"></div>
    </div> -->

  </div>
</div>
