<div class="container">
  <h2>{{cup.name}}</h2>
  <div class="container__input">
    <label for="name">Nome Completo</label>
    <input type="text" name="name" [(ngModel)]="name">
  </div>
  <div class="container__input">
    <label for="nickname">Apelido</label>
    <input type="text" name="nickname" [(ngModel)]="nickname">
  </div>
  <div class="container__input">
    <label for="birthdate">Data de Nascimento</label>
    <input type="date" name="birthdate" [(ngModel)]="birthDate">
  </div>
  <div class="container__input">
    <label for="whatsapp">Whatsapp</label>
    <input type="tel" name="whatsapp" [(ngModel)]="whatsApp">
  </div>
  <button (click)="enrollInCup()">Inscrever</button>
</div>
