<div class="page-container">
  <h1  *ngIf="create">Criar Unidade</h1>
  <h1  *ngIf="!create">Editar Unidade</h1>
  <mat-card class="create-school-card">

    <mat-form-field class="create-school-card__input" appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput type="text" [(ngModel)]="name" disabled="{{nameDis}}">
      <button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
      </button>
    </mat-form-field>

    <mat-form-field class="create-school-card__input" appearance="fill">
      <mat-label>Endereço</mat-label>
      <input matInput type="text" [(ngModel)]="address">
      <button *ngIf="address" matSuffix mat-icon-button aria-label="Clear" (click)="address=''">
      </button>
    </mat-form-field>

    <mat-form-field class="create-school-card__input" appearance="fill" >
      <mat-label>Responsável</mat-label>
      <input matInput type="text" [(ngModel)]="cupManager" disabled="{{cupManagerDis}}">
      <button *ngIf="cupManager" matSuffix mat-icon-button aria-label="Clear" (click)="cupManager=''">
      </button>
    </mat-form-field>

    <mat-form-field class="create-school-card__input" appearance="fill" >
      <mat-label>Email</mat-label>
      <input matInput type="email" [(ngModel)]="email" disabled="{{cupManagerDis}}">
      <button *ngIf="cupManager" matSuffix mat-icon-button aria-label="Clear" (click)="cupManager=''">
      </button>
    </mat-form-field>

    <!-- <mat-form-field class="create-school-card__input" appearance="fill">
      <mat-label>Numero de Campos</mat-label>
      <input type="number" matInput maxlength="5" value="">
    </mat-form-field> -->

    <mat-form-field class="create-school-card__input" appearance="fill" *ngFor="let venue of venues">
      <mat-label>Nome do Campo</mat-label>
      <input matInput type="text" [(ngModel)]="venue.name">
      <button matSuffix mat-icon-button aria-label="Clear">
      </button>
    </mat-form-field>

    <div class="create-school-card__buttons">
      <button mat-raised-button color="warn" (click)="cancel()">Voltar</button>
      <button mat-raised-button (click)="addNewVenue()">Adicionar um campo</button>
      <button mat-raised-button color="primary" (click)="createSchool()">Criar unidade</button>
    </div>

  </mat-card>

</div>
