.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 80rem;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 27rem;

  & h1 {
    margin: 0;
  }

  &__new-school {
    background-color: #2E7D32;
    color: white;
  }
}

.units-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  &__unit {
    margin: 1rem;

    &__card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 10rem;

      & h2 {
        align-self: center;
        margin: 0;
      }

      & h3 {
        margin: 1rem 0 0;
      }

      & p {
        margin: 0;
      }

      & ul {
        padding-left: 1rem;
      }

      & button {
        margin-top: 1rem;
      }
    }
  }
}
