<div class="container" *ngIf="loggedIn">
  <h1>Campeonatos em andamento</h1>
  <div class="cups" *ngIf="onGoingCups">
    <div class="cups__card" *ngFor="let onGoingCup of onGoingCups">
      <div>
        <h3 class="cups__card__title">{{onGoingCup.name}}</h3>
        <div class="cups__card__info">
          <h3>Período dos jogos:</h3>
          <span>{{onGoingCup.cupGamesPeriod[0] | date}} --- {{onGoingCup.cupGamesPeriod[1] | date}}</span>
        </div>
      </div>

      <div class="cups__card__subscribe" *ngIf="!subscribe">
        <button class="cups__card__subscribe__enter" (click)="openSubscribe(onGoingCup.id)">Entrar</button>
      </div>

      <div class="cups__card__subscribe" *ngIf="subscribe">

        <h2>Nome do time</h2>
        <div class="cups__card__subscribe__input">
          <input type="text" [(ngModel)]="teamName">
        </div>

        <h2>Jogares</h2>
        <div class="cups__card__subscribe">
          <div class="row" style="margin-bottom: 1rem">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-success" id="dropdownBasic1" ngbDropdownToggle>{{player1}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem *ngFor="let player of allPlayers" (click)="selectPlayer(player.fullName)">{{player.fullName}}</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-bottom: 1rem">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-success" id="dropdownBasic1" ngbDropdownToggle>{{player2}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem *ngFor="let player of allPlayers" (click)="selectPlayer(player.fullName)">{{player.fullName}}</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-bottom: 1rem">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-success" id="dropdownBasic1" ngbDropdownToggle>{{player3}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem *ngFor="let player of allPlayers" (click)="selectPlayer(player.fullName)">{{player.fullName}}</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-bottom: 1rem">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-success" id="dropdownBasic1" ngbDropdownToggle>{{player4}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem *ngFor="let player of allPlayers" (click)="selectPlayer(player.fullName)">{{player.fullName}}</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-bottom: 1rem">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-success" id="dropdownBasic1" ngbDropdownToggle>{{player5}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem *ngFor="let player of allPlayers" (click)="selectPlayer(player.fullName)">{{player.fullName}}</button>
                </div>
              </div>
            </div>
          </div>


        <button class="cups__card__subscribe__enter" (click)="sendTeam(onGoingCup.id)">Enviar</button>

      </div>

    </div>
  </div>
</div>
</div>


<div class="container-login" *ngIf="!loggedIn">
  <app-login-screen (logIn)="login($event)"></app-login-screen>
</div>
