.page-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.create-cup {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__input {
    width: 25rem;
    margin: 1rem;
  }

  &__date {
    width: 25rem;
  }

  &__dates {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25rem;
    margin: 1rem;
    &__date {
      width: 12rem;
    }
  }

  &__button {
    width: 25rem;
  }
}
