<div class="page-container">
  <h1>Criar campeonato</h1>
  <mat-card class="create-cup">

    <mat-form-field class="create-cup__input" appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput type="text" [(ngModel)]="name">
      <button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
      </button>
    </mat-form-field>

    <mat-form-field appearance="fill" class="create-cup__input">
      <mat-label>Unidade</mat-label>
      <mat-select>
        <mat-option value="{{school.id}}" *ngFor="let school of filteredSchools">{{school.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="create-cup__date" appearance="fill">
      <mat-label>Data de anúncio</mat-label>
      <input matInput type="date" [(ngModel)]="announcementDate">
      <button *ngIf="announcementDate" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
      </button>
    </mat-form-field>

    <div class="create-cup__dates">

      <mat-form-field class="create-cup__dates__date" appearance="fill">
        <mat-label>Data de inicio das inscrições</mat-label>
        <input matInput type="date" [(ngModel)]="startSignup">
        <button *ngIf="startSignup" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
        </button>
      </mat-form-field>
      <mat-form-field class="create-cup__dates__date" appearance="fill">
        <mat-label>Data de término das inscrições</mat-label>
        <input matInput type="date" [(ngModel)]="endSignup">
        <button *ngIf="endSignup" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
        </button>
      </mat-form-field>

    </div>

    <div class="create-cup__dates">

      <mat-form-field class="create-cup__dates__date" appearance="fill">
        <mat-label>Data de inicio dos jogos</mat-label>
        <input matInput type="date" [(ngModel)]="startGames">
        <button *ngIf="startGames" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
        </button>
      </mat-form-field>
      <mat-form-field class="create-cup__dates__date" appearance="fill">
        <mat-label>Data de término dos jogos</mat-label>
        <input matInput type="date" [(ngModel)]="endGames">
        <button *ngIf="endGames" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
        </button>
      </mat-form-field>

    </div>

    <button mat-raised-button color="primary" (click)="createCup()" class="create-cup__button">Criar Campeonato</button>

  </mat-card>
</div>
