<div class="navigator">
  <div class="navigator__menu">

    <div class="navigator__menu__buttons">
      <div class="navigator__menu__buttons__btn" routerLink="/cups">
        <span class="navigator__menu__buttons__btn__text"
        >Campeonatos</span>
      </div>
      <div class="navigator__menu__buttons__btn" routerLink="/create-team">
        <span class="navigator__menu__buttons__btn__text"
        >Criar Time</span>
      </div>
      <div class="navigator__menu__buttons__btn" routerLink="/create-cup">
        <span class="navigator__menu__buttons__btn__text"
        >Criar Campeonato</span>
      </div>
      <div class="navigator__menu__buttons__btn" routerLink="/schools">
        <span class="navigator__menu__buttons__btn__text"
        >Escolas</span>
      </div>
      <!-- <div class="navigator__menu__buttons__btn" routerLink="/edit-schools">
        <span class="navigator__menu__buttons__btn__text"
        >Editar escola</span>
      </div> -->
    </div>

  </div>
</div>
