
<div class="first-step" *ngIf="step == 1">
  <div class="title">
    <h2>Esqueci a senha</h2>
  </div>

  <div class="first-step__input">
    <label for="email">Insira seu email</label>
    <input type="email" name="email" id="email">
  </div>
  <button class="first-step__send-code" (click)="sendToken()" >Enviar código</button>
  <div class="first-step__input" *ngIf="tokenSended">
    <label for="email">Insira o código de verificação</label>
    <input type="text">
  </div>
  <div class="first-step__buttons">
    <button class="first-step__buttons__back" (click)="changeScreen()">Voltar</button>
    <button class="first-step__buttons__continue"
    (click)="nextStep()"
    [class.btn-disabled]="!tokenSended">Proximo</button>
  </div>

</div>

<div class="new-password" *ngIf="step == 2">

  <div class="title">
    <h2>Escolha uma nova senha</h2>
  </div>

  <div class="new-password__input">
    <label for="pasword"></label>
    <input type="text" name="password">
  </div>
  <div class="new-password__input">
    <label for="confirmation"></label>
    <input type="password" name="confirmation">
  </div>
  <button class="new-password__update">Atualizar senha</button>

</div>
